theme = "jellybeans"

[editor]
line-number = "relative"
cursorline = true
color-modes= true 
mouse = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true

